html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	display: block;
}

.wwidth {
	width: 100%;
}

.cen {
	margin: 0 auto;
}

.top- {
	width: 100%;
	height: 64px;
	/*background:rgba(0,0,225,.2)*/
}

.top {
	width: 975px;
	height: 64px;
	margin: 0 auto;
	line-height: 64px;
	/*background:rgba(0,225,0,.2);*/
}

.top h1 {
	padding-top: 17px;
	float: left;
}

.top ul {
	float: left;
	height: 32px;
	padding-left: 15px;
	display: inline-block;
}

.top ul li {
	display: inline-block;
	font-size: 16px;
	line-height: 32px;
	padding: 0 17px;
}

.top ul li a {
	color: #382e36;
}

.top p {
	float: right;
	padding-right: 10px;
}

.more {
	height: 136px;
}

.more ul {
	width: 975px;
	height: 136px;
}

.more ul li {
	display: inline-block;
	width: 103px;
	font-size: 12px;
	text-align: center;
	height: 136px;
}

.more ul li span {
	font-size: 40px;
	line-height: 100px;
	color: #969696;
}

.more ul li p {
	line-height: 36px;
	color: #2b3a25;
}

.moreinfo- {
	height: 388px;
	/*background:url(../img/bairun_10.jpg)*/
}

.moreinfo {
	width: 1240px;
	height: 388px;
	background: url(../img/bairun_10.jpg)
}

.info {
	width: 620px;
	height: 388px;
	background: rgba(225, 225, 225, .5);
	float: right;
	padding-right: 126px;
	box-sizing: border-box;
}

.info h3 {
	font-size: 28px;
	font-weight: bold;
	color: #313131;
	margin-top: 65px;
	line-height: 68px;
	text-align: center;
}

.info p {
	font-size: 16px;
	color: #393939;
	line-height: 24px;
	text-indent: 2em;
	padding-left: 17px;
}

.info span {
	display: block;
	float: right;
	width: 120px;
	height: 40px;
	border-radius: 20px;
	background: linear-gradient(to right, #2f62f3, #42abfc);
	text-align: center;
	line-height: 40px;
}

.info span a {
	color: #fff;
}

.videos- {
	height: 516px;
	background: url(../img/bg.jpg) repeat-x;
}

.videos {
	height: 516px;
	width: 975px;
}

.videos-top {
	height: 222px;
	text-align: center;
}

.videos-top h3 {
	font-size: 36px;
	line-height: 54px;
	color: #323232;
	padding-top: 39px;
}

.videos-top p {
	color: #737582;
	font-size: 16px;
	line-height: 44px;
}

.videos-top span {
	display: inline-block;
	width: 76px;
	height: 30px;
	margin-top: 14px
}

.videos-top span a {
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	text-align: center;
	line-height: 30px;
	font-size: 12px;
	background: #e6e6e6;
	color: #989896;
}

.videos-btn {
	height: 294px;
}

.videos-btn dl {
	margin-right: 26px;
	width: 296px;
	text-align: center;
	color: #000;
	float: left;
}

.videos-btn dd {
	margin-top: 12px;
	font-size: 18px;
	line-height: 30px;
}

.videos-btn p {
	font-size: 12px;
	line-height: 24px;
}

.friend- {
	height: 720px;
}

.friend {
	height: 720px;
	width: 975px;
}

.fri-top {
	height: 180px;
}

.fri-btn {
	height: 540px;
	border-right: 1px solid #eef7fe;
	border-bottom: 1px solid #eef7fe;
	text-align: center;
}

.fri-btn img {
	float: left;
}

.fri-btn span {
	display: inline-block;
	height: 40px;
	width: 100px;
	margin-top: 50px;
	font-size: 0;
}

.fri-btn span a {
	height: 40px;
	width: 50px;
	display: inline-block;
	line-height: 40px;
	color: #a0a0a0;
	text-align: center;
	font-size: 22px;
}

.login- {
	height: 308px;
	background: linear-gradient(to right, #019df4, #015fe5);
	color: #fff;
}

.login {
	height: 308px;
	width: 975px;
}

.l-left {
	width: 500px;
	height: 308px;
	float: left;
}

.l-right {
	width: 400px;
	height: 308px;
	float: right;
	padding: 158px 0 0 70px;
	box-sizing: border-box;
}

.infobox {
	overflow: hidden;
}

.l-left h1 {
	font-size: 34px;
	line-height: 66px;
	padding-top: 34px;
}

.l-left h2 {
	width: 222px;
	height: 36px;
	border-bottom: 1px solid #43a8ee;
	font-size: 12px;
	line-height: 48px;
	margin-right: 20px;
	float: left;
}

.l-left span {
	display: inline-block;
	width: 130px;
	height: 42px;
	text-align: center;
	line-height: 42px;
	background: #fff;
	border-radius: 21px;
	margin-top: 24px;
}

.l-left span a {
	color: #0b82dc;
}

.l-left p {
	display: inline-block;
	font-size: 12px;
	margin-left: 50px;
}

.l-right p {
	display: inline-block;
}

.l-right p span {
	font-size: 12px;
}

.l-right p i {
	font-style: normal;
	font-size: 24px;
}

.l-right .tubiao {
	display: inline-block;
	width: 40px;
	height: 40px;
	background: #fff;
	border-radius: 50%;
	color: #0360e1;
	text-align: center;
	line-height: 40px;
	margin-left: 14px;
}

.lianxi- {
	height: 120px;
	background: #f9f9f9;
}

.lianxi {
	height: 120px;
	width: 975px;
	padding: 40px 0;
	box-sizing: border-box;
}

.lianxi h1 {
	font-size: 22px;
	color: #000;
	display: inline-block;
}

.lianxi h1 span {
	display: inline-block;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	overflow: hidden;
}

.lianxi p {
	display: inline-block;
	color: #04030b;
	font-size: 12px;
	margin: 0 50px;
}

.lianxi p span {
	font-size: 14px;
	font-weight: bold;
}

.about- {
	height: 225px;
}

.about {
	height: 225px;
	width: 975px;
}

.about dl dt {
	font-size: 12px;
	line-height: 36px;
	color: #665b5f;
}

.about dl dd {
	font-size: 10px;
	line-height: 28px;
}

.about dl dd a {
	color: #848982;
}

.about dl {
	padding: 34px 60px 0 0;
	float: left;
}

.about .scan {
	float: right;
	padding: 50px 36px 0 0;
}

.about .scan dd {
	font-size: 12px;
	line-height: 34px;
	text-align: center;
	color: #000;
}

.foot- {
	height: 52px;
}

.foot {
	height: 52px;
	width: 975px;
	border-top: 1px solid #ccc;
	box-sizing: border-box;
}

.foot span {
	font-size: 12px;
	color: #2d2d37;
	line-height: 52px;
}

.zuo {
	float: left;
}

.you {
	float: right;
}